<div class="navbar-main-cnt">
    <div class="left-cnt">
        <mat-icon
        svgIcon="main-menu"
        aria-hidden="false"
        aria-label="menu icon"
      ></mat-icon>
      <h3>Google Keep</h3>
    </div>
    <div class="mid-cnt">
        <mat-icon
        svgIcon="search-icon"
        aria-hidden="false"
        aria-label="search icon"
      ></mat-icon>
    </div>
    <div class="right-cnt">
        <mat-icon
        svgIcon="refresh-icon"
        aria-hidden="false"
        aria-label="search icon"
      ></mat-icon>
      <mat-icon
        svgIcon="setting-icon"
        aria-hidden="false"
        aria-label="search icon"
      ></mat-icon>
      <P>Google app</P>
      <P>User</P>
    </div>
</div>
