<div class="navbar-main-cnt">
  <div class="left-cnt">
    <mat-icon
      svgIcon="main-menu"
      aria-hidden="false"
      aria-label="menu icon"
    ></mat-icon>
    <img
      class="googleKeep"
      src="../../../assets/googleKeep.png"
      alt="googlekeep"
    />
    <h3>Keep</h3>
  </div>

  <div class="mid-cnt">
    <input
      type="text"
      placeholder="Search"
      [(ngModel)]="searchQuery"
      (input)="handleSearchQuery()"
    />
    <mat-icon
      svgIcon="search-icon"
      aria-hidden="false"
      aria-label="search icon"
    ></mat-icon>
  </div>

  <div class="right-cnt">
    <mat-icon
      svgIcon="refresh-icon"
      aria-hidden="false"
      aria-label="refresh icon"
    ></mat-icon>
    <mat-icon
      svgIcon="list-view-icon"
      aria-hidden="false"
      aria-label="list view icon"
    ></mat-icon>
    <mat-icon
      svgIcon="setting-icon"
      aria-hidden="false"
      aria-label="settings icon"
    ></mat-icon>
    <img class="googleapp" src="../../../assets/googlapp.png" alt="googleapp" />
    <div
      class="profile-container"
      (mouseenter)="showProfile = true"
      (mouseleave)="showProfile = false"
    >
      <img class="user" src="../../../assets/user.png" alt="user" />

      <div class="profile-dropdown" *ngIf="showProfile">
        <p>Google Account</p>
        <p>{{ userName }}</p>
        <p>{{ userEmail }}</p>
        <button (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
