body{
  box-sizing: border-box;
}
.navbar-main-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 59px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  border: 1px solid gray;
  width: calc(100vw - 40px);
}

.left-cnt {
  display: flex;
  align-items: center;

  .googleKeep{
    height: 40px;
    padding-left: 10px;
  }
  h3 {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #5f6368;
  }
  h3:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  mat-icon {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(60, 64, 67, 0.1);
    }
  }
  
}

.mid-cnt {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f8;
  margin-left: 23px;
  border-radius: 12px;
  input{
    border: 1px solid #f2f4f8;
    width: 83%;
    height: 20px;
    background-color: #f2f4f8;
    border-radius: 5px;
    padding: 5px;
    outline: none;
  }

  mat-icon {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(60, 64, 67, 0.1);
    }
  }
}

.right-cnt {
  display: flex;
  align-items: center;
  
  .user{
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
  .googleapp{
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: rgba(60, 64, 67, 0.1);
    }
  }
  mat-icon {
    cursor: pointer;
    padding: 8px;
    height: 23px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: rgba(60, 64, 67, 0.1);
    }
  }

  p {
    margin-top: 15px;
    margin-left: 16px;
    font-size: 14px;
    color: #5f6368;
    cursor: pointer;
  }

  .profile-container {
    z-index: 2;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 50px; 
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;  
  }
  
  .profile-dropdown p {
    margin: 0;
    padding: 5px 0;
  }
  
  button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff1a1a;
  }
}

.user-initial {
  width: 38px;
  height: 38px;
  background-color: rgb(101, 101, 226); 
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}