<div class="navbar-main-cnt">
  <div class="left-cnt">
    <mat-icon
      (click)="onMenuIconClick()"
      svgIcon="main-menu"
      aria-hidden="false"
      aria-label="menu icon"
      matTooltip="Menu"
      matTooltipPosition="below"
    ></mat-icon>

    <img
      class="googleKeep"
      src="../../../assets/googleKeep.png"
      alt="googlekeep"
    />
    <h3>Keep</h3>
  </div>

  <div class="mid-cnt">
    <input
      type="text"
      placeholder="Search"
      [(ngModel)]="searchQuery"
      (input)="handleSearchQuery()"
    />
    <mat-icon
      svgIcon="search-icon"
      aria-hidden="false"
      aria-label="search icon"
      matTooltip="Search"
      matTooltipPosition="below"
    ></mat-icon>
  </div>

  <div class="right-cnt">
    <mat-icon
      svgIcon="refresh-icon"
      aria-hidden="false"
      aria-label="refresh icon"
      (click)="refreshPage()"
      matTooltip="Refresh"
      matTooltipPosition="below"
    ></mat-icon>

    <mat-icon
      svgIcon="list-view-icon"
      aria-hidden="false"
      aria-label="list view icon"
      matTooltip="List View"
      matTooltipPosition="below"
    ></mat-icon>

    <mat-icon
      svgIcon="setting-icon"
      aria-hidden="false"
      aria-label="settings icon"
      matTooltip="Settings"
      matTooltipPosition="below"
    [matMenuTriggerFor]="moreMenu"
    ></mat-icon>
    

    <img class="googleapp" src="../../../assets/googlapp.png" alt="googleapp" />

    <div
      class="profile-container"
      (mouseenter)="showProfile = true"
      (mouseleave)="showProfile = false"
    >
      <div class="user-initial">{{ userName[0] | uppercase }}</div>
      <div class="profile-dropdown" *ngIf="showProfile">
        <p>Google Account</p>
        <div class="user-detail">
          <div class="user">{{ userName[0] | uppercase }}</div>
          <p>{{ userName }}</p>
        </div>
        <p>{{ userEmail }}</p>
        <button (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>



<mat-menu #moreMenu="matMenu">
  <button mat-menu-item>
    <span>Change Theme</span>
  </button>
  <button mat-menu-item>
    <span>Send Feedback</span>
  </button>
  <button mat-menu-item>
    <span>Help</span>
  </button>
</mat-menu>

<!-- [matMenuTriggerFor]="moreMenu" -->