<app-navbar (toggleDrawer)="toggleDrawer()"></app-navbar>
<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'over'" class="google-keep-drawer">
    <div class="drawer-item">
      <mat-icon
        svgIcon="bulb-icon"
        aria-hidden="false"
        aria-label="reminder icon"
      ></mat-icon>
      <span>Notes</span>
    </div>
    <div class="drawer-item">
      <mat-icon
        svgIcon="reminder-icon"
        aria-hidden="false"
        aria-label="reminder icon"
      ></mat-icon>
      <span>Reminder</span>
    </div>
    <div class="drawer-item">
      <mat-icon
        svgIcon="edit-icon"
        aria-hidden="false"
        aria-label="edit icon"
      ></mat-icon>
      <span>Edit Labels</span>
    </div>
    <div class="drawer-item">
      <mat-icon
        svgIcon="archive-icon"
        aria-hidden="false"
        aria-label="archive icon"
      ></mat-icon>
      <span>Archive</span>
    </div>
    <div class="drawer-item">
      <mat-icon
        svgIcon="trash-icon"
        aria-hidden="false"
        aria-label="trash icon"
      ></mat-icon>
      <span>Bin</span>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div>
      <mat-icon
        svgIcon="bulb-icon"
        aria-hidden="false"
        aria-label="reminder icon"
      ></mat-icon>
    </div>
    <div>
      <mat-icon
        svgIcon="reminder-icon"
        aria-hidden="false"
        aria-label="reminder icon"
      ></mat-icon>
    </div>
    <div>
      <mat-icon
        svgIcon="edit-icon"
        aria-hidden="false"
        aria-label="edit icon"
      ></mat-icon>
    </div>
    <div>
      <mat-icon
        svgIcon="archive-icon"
        aria-hidden="false"
        aria-label="archive icon"
      ></mat-icon>
    </div>
    <div>
      <mat-icon
        svgIcon="trash-icon"
        aria-hidden="false"
        aria-label="trash icon"
      ></mat-icon>
    </div>
    <router-outlet class="outlet"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
