<app-navbar (toggleDrawer)="toggleDrawer()"></app-navbar>
<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" [opened]="drawerOpened" class="google-keep-drawer">
    <div class="drawer-item" routerLink="/notes" routerLinkActive="active-link">
      <mat-icon svgIcon="bulb-icon" aria-hidden="false" aria-label="bulb icon"></mat-icon>
      <span *ngIf="drawerOpened">Notes</span> 
    </div>
    <div class="drawer-item">
      <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
      <span *ngIf="drawerOpened">Reminder</span>
    </div>
    <div class="drawer-item">
      <mat-icon svgIcon="edit-icon" aria-hidden="false" aria-label="edit icon"></mat-icon>
      <span *ngIf="drawerOpened">Edit Labels</span>
    </div>
    <div class="drawer-item" routerLink="/archive" routerLinkActive="active-link">
      <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="archive icon"></mat-icon>
      <span *ngIf="drawerOpened">Archive</span>
    </div>
    <div class="drawer-item" routerLink="/trash" routerLinkActive="active-link">
      <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="trash icon"></mat-icon>
      <span *ngIf="drawerOpened">Bin</span>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <router-outlet class="outlet"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
