<div class="task-main-cnt">
  <span>{{noteDetails.Title}}</span>
  <span>{{noteDetails.Description}}</span>
  <div class="icons-cnt">
    <mat-icon
      svgIcon="reminder-icon"
      aria-hidden="false"
      aria-label="reminder icon"
    ></mat-icon>

    <mat-icon
      svgIcon="collabrator-icon"
      aria-hidden="false"
      aria-label="collabrator icon"
    ></mat-icon>
    <mat-icon
      svgIcon="color-palatte-icon"
      aria-hidden="false"
      aria-label="color pallat icon"
    ></mat-icon>
    <mat-icon
      svgIcon="img-icon"
      aria-hidden="false"
      aria-label="image icon"
    ></mat-icon>
    <mat-icon
      svgIcon="archive-icon"
      aria-hidden="false"
      aria-label="archive icon"
      (click)="handleNotesIconsClick('archive')"
    ></mat-icon>
    <mat-icon [matMenuTriggerFor]="moreMenu"
      svgIcon="more-icon"
      aria-hidden="false"
      aria-label="more icon"
    ></mat-icon>
    
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="handleNotesIconsClick('trash')">
    
        <span>Trash</span>
      </button>
      <button mat-menu-item disabled>

        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
       
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>
</div>
