<div class="task-main-cnt">
  <!-- <input type = "text" placeholder="Title"/>
  <textarea placeholder="Add a note..."></textarea> -->
  <span>{{noteDetails.Title}}</span>
  <span>{{noteDetails.Description}}</span>

  <div class="icons-cnt">
    <mat-icon
      svgIcon="reminder-icon"
      aria-hidden="false"
      aria-label="reminder icon"
    ></mat-icon>

    <mat-icon
      svgIcon="collabrator-icon"
      aria-hidden="false"
      aria-label="collabrator icon"
    ></mat-icon>
    <mat-icon
      svgIcon="color-palatte-icon"
      aria-hidden="false"
      aria-label="color pallat icon"
    ></mat-icon>
    <mat-icon
      svgIcon="img-icon"
      aria-hidden="false"
      aria-label="image icon"
    ></mat-icon>
    <mat-icon
      svgIcon="archive-icon"
      aria-hidden="false"
      aria-label="archive icon"
    ></mat-icon>
    <mat-icon
      svgIcon="more-icon"
      aria-hidden="false"
      aria-label="more icon"
    ></mat-icon>
  </div>
</div>
