<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignIn</title>
</head>
<body>
    <div class="container">
        <h1>Fundo</h1>
        <h2>Sign In</h2>
        <p>Use your Fundo Account</p>
        <form class="form">
            <mat-form-field style="width: 80%;">
                <mat-label>Email or Phone*</mat-label>
                <input matInput style="padding: 0px; font-size: 14px; border-radius: 4px; width: 100%;" />
            </mat-form-field>

            <mat-form-field style="width: 80%;">
                <mat-label>Password*</mat-label>
                <input matInput type="password" style="padding: 0px; font-size: 14px; border-radius: 4px; width: 100%;"/>
            </mat-form-field>

            <a href="#" class="forgot-password">Forgot Password?</a>

            <div class="button-group">
                <button type="button" class="create-account">Create Account</button>
                <button type="submit" class="login">Login</button>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="language-select">
            <select>
                <option value="en">English (United States)</option>
            </select>
        </div>
        <div class="right-links">
            <a href="#">Help</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</body>
</html>
