body {
    font-family: Arial, sans-serif;
}

.container {
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 350px;
    height: auto;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: rgb(228, 168, 57);
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
}
button.mat-primary {
    color: white;
}
mat-form-field {
    width: 80%;
}

.matInput {
    padding: 0px;
    font-size: 12px;
    border-radius: 4px;
    width: 100%;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.forget-password {
   width: 130px;
   border: 0.3px solid gray;
   border-radius: 5px;
   margin-right: 117px;
   background-color: #007bff;
}

.login{
   width: 100px;
   background-color: #007bff;
   border-radius: 5px;
}

mat-error{
    margin-top: -10px;
    margin-bottom: 10px;
}


button {
    border: none;
    color: black;
    cursor: pointer;
}

.button-cnt {
    display: flex;
    justify-content: center;
    gap: 10px; 
}
.create-account{
    margin-right: 42px;
    width: 100px;
}
.footer {
    position: absolute;
    top: calc(50% + 230px);
    left: 50%;
    width: 350px;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
    box-sizing: border-box;
}

.language-select select {
    font-size: 8px;
    padding: 7px;
}

.right-links a {
    font-size: 12px;
    margin-left: 10px;
    color: #000;
    text-decoration: none;
    margin-right: 2px;
}

