<div class = "add-note" *ngIf="showTakeNote; else addnote" (click)="toggleTakeNote()">
  <div class="main-cnt">
    <div>
      <span>Take a note</span>
    </div>
    <div class="icon-cnt">
      <mat-icon
        svgIcon="tick"
        aria-hidden="false"
        aria-label="tick"
      ></mat-icon>
      <mat-icon
        svgIcon="brush"
        aria-hidden="false"
        aria-label="brush"
      ></mat-icon>
      <mat-icon
        svgIcon="Image"
        aria-hidden="false"
        aria-label="Image"
      ></mat-icon>
    </div>
  </div>
</div>
<ng-template #addnote>
    <div class="task-main-cnt" [style.backgroundColor]="color">
      <div class="title">
        <input [style.backgroundColor]="color" [(ngModel)]="title" type = "text" placeholder="Title"/>
        <mat-icon
            svgIcon="pin-icon"
            aria-hidden="false"
            aria-label="pin icon"
          ></mat-icon>
      </div>
      <textarea [(ngModel)]="description" placeholder="Add a note..."></textarea> 
        <div class="icons-cnt">
          <mat-icon
            svgIcon="reminder-icon"
            aria-hidden="false"
            aria-label="reminder icon"
          ></mat-icon>
          <mat-icon
            svgIcon="collabrator-icon"
            aria-hidden="false"
            aria-label="collabrator icon"
          ></mat-icon>
          <mat-icon
            svgIcon="color-palatte-icon"
            aria-hidden="false"
            aria-label="color pallat icon"
            [matMenuTriggerFor]="colorPalate"
          ></mat-icon>
          <mat-icon
            svgIcon="img-icon"
            aria-hidden="false"
            aria-label="image icon"
          ></mat-icon>
          <mat-icon
            svgIcon="archive-icon"
            aria-hidden="false"
            aria-label="archive icon"
          ></mat-icon>
          <mat-icon
            svgIcon="more-icon"
            aria-hidden="false"
            aria-label="more icon"
          ></mat-icon>
          <mat-icon
            svgIcon="undo-icon"
            aria-hidden="false"
            aria-label="undo icon"
          ></mat-icon>
          <mat-icon
            svgIcon="redo-icon"
            aria-hidden="false"
            aria-label="redo icon"
          ></mat-icon>
          <mat-menu #colorPalate="matMenu">
            <div class="color-palate-cnt">
              <div class="col1" matTooltip="Default" (click)="handleNotesIconsClick('color', '#FFFFFF')"></div>
              <div class="col2" matTooltip="Coral" (click)="handleNotesIconsClick('color', '#FAAFA8')"></div>
              <div class="col3" matTooltip="Blue" (click)="handleNotesIconsClick('color', '#AECBFA')"></div>
              <div class="col4" matTooltip="Sand" (click)="handleNotesIconsClick('color', '#FFF8B8')"></div>
        <div class="col5" matTooltip="Mint" (click)="handleNotesIconsClick('color', '#E2F6D3')"></div>
        <div class="col6" matTooltip="Sage" (click)="handleNotesIconsClick('color', '#B4DDD3')"></div>
        <div class="col7" matTooltip="Fog" (click)="handleNotesIconsClick('color', '#D4E4ED')"></div>
        <div class="col8" matTooltip="Storm" (click)="handleNotesIconsClick('color', '#AECCDC')"></div>
        <div class="col9" matTooltip="Dusk" (click)="handleNotesIconsClick('color', '#D3BFDB')"></div>
        <div class="col10" matTooltip="Blossom" (click)="handleNotesIconsClick('color', '#F6E2DD')"></div>
        <div class="col11" matTooltip="Clay" (click)="handleNotesIconsClick('color', '#E9E3D4')"></div>
        <div class="col12" matTooltip="Chalk" (click)="handleNotesIconsClick('color', '#EFEFF1')"></div>
            </div>
          </mat-menu>
          <button (click)="toggleTakeNote(true)">Close</button>
        </div>
    </div>

    <!-- <app-new-note (closeNote) = "toggleTakeNote()"></app-new-note> -->

</ng-template>
