<body>
  <div class="signup-wrapper">
    <div class="signup-container">
      <div class="form-section">
        <h1>Create Your Fundoo Account</h1>

        <form [formGroup]="signUpForm"  class="signup-form" novalidate>
          <div class="name-fields">
            <mat-form-field appearance="outline" style="width: 45%;">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
              <mat-error *ngIf="register && signUpControls['firstName']?.hasError('required')">
                First name is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 45%;">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
              <mat-error *ngIf="register && signUpControls['lastName']?.hasError('required')">
                Last name is required
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="register && signUpControls['email']?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="register && signUpControls['email']?.hasError('email')">
              Incorrect Email Format
            </mat-error>
          </mat-form-field>

          <div class="password-fields">
            <mat-form-field appearance="outline" style="width: 45%;">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password" />
              <mat-error *ngIf="register && signUpControls['password']?.hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-footer">
            <a class="signin-instead" routerLink="/login">Sign In Instead</a>
            <button (click)="handleRegister()" class="register">Register</button>
          </div>
        </form>
      </div>

      <div class="image-section">
        <img src="../../../assets/Google-Account.webp" alt="SignUp Image" />
        <p>One account. All of Fundoo working for you</p>
      </div>
    </div>
  </div>
</body>
